/* Common variables, imports & roots */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


:root {
  --darkgreen: #082f1e;
  --mediumgreen: #537063;
  --palebeige: #fff7dd;
  --lighterbeige: #fef9e4;
  --emeraldgreen: #046307;
  --lighterblack: #333333;
  --lightbrown: #c49758;
  --richgold: #D4AF37;
  --palegold: #C5B358;

  --maxwidth: 800px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mediumgreen);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background-color: var(--mediumgreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  background-color: var(--darkgreen);
  width: 100%;
  max-width: var(--maxwidth);
  /*max-height: 200px;*/
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.header-title {
  text-align: center;
  margin-right: 20px;
}

.logo {
  max-width: 180px;
  margin-top: 5px;
}

.main {
  max-width: var(--maxwidth);
  width: 100%;
  background-color: var(--lighterbeige);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.main p {
  font-size: 14px;
  color: black;
}

.bureau-img {
  max-width: 370px;
  width:100%;
}


@media (min-width: 550px) {
  /* Styles for tablet view */
  .header {
    flex-direction: row;
  }

  .logo {
    max-width: 250px;
    margin: 10px;
  }
}

@media (min-width: 1025px) {
  /* Styles for desktop view */
  .logo {
    max-width: 250px;
    margin: 10px;
  }
}